-e git+https://github.com/Alphadelta14/python-newdispatch.git#egg=python=newdispatch
-e git+https://github.com/Alphadelta14/python-pressure-layout.git#egg=python-pressure-layout
-e git+https://github.com/Alphadelta14/python-compile-engine.git#egg=python-compile-engine
